span { 
	color: black;
 	font-family: Verdana; 
 	text-align: center;
 	font-size: 22px;
}

#id_unico {
	font-size: 24px;
	color: #FFA500;
}

.clase_css{
	font-size: 28px;
	color: #0000FF;
}

h2.clase_css{
	font-size: 32px;
	color: #2B7250;
}

p[name="parrafo"]{
	font-size: 32px;
	color: #722C2B;
}

